.destination-card {
  list-style-type: none;
  width: 300px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.image {
  width: 250px;
  height: 180px;
}
.destination-name {
  color: black;
  font-family: 'Open Sans';
  font-weight: 600;
}

@media (min-width: 768px) {
  .image {
    width: 230px;
    height: 150px;
    border-radius: 5px;
  }
  .destination-card {
    width: 250px;
  }
}
